.container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #3A3A3A; // 약간 밝은 검은색
  color: #ffffff;
}

.posterContainer {
  flex: 1 1 300px;
  margin-right: 20px;
}

.poster {
  width: 100%;
  border-radius: 8px;
}

.detailsContainer {
  flex: 2 1 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 2em;
  margin: 0 0 10px 0;
}

.rating {
  font-size: 1.2em;
  margin: 0 0 10px 0;
}

.genres {
  font-size: 1.2em;
  margin: 0 0 10px 0;
}

.overview {
  font-size: 1em;
  line-height: 1.5;
}

@media (max-width: 300px) {
  flex-direction:column

  .posterContainer {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .title {
    font-size: 1.5em;
  }

  .rating,
  .genres {
    font-size: 1em;
  }

  .overview {
    font-size: 0.875em;
  }
}