.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;

    .logo {
        font-size: 1.5rem;
        cursor: pointer;
    }

    .search-input {
        width: 300px;
        padding: 0.5rem;
        border-radius: 4px;
        border: none;
    }

    .auth-buttons {
        display: flex;
        align-items: center;

        .button {
            margin-left: 1rem;
            padding: 0.5rem 1rem;
            border: none;
            background-color: #555;
            color: white;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #777;
            }
        }

        .user-menu {
            position: relative;

            .user-thumbnail {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                cursor: pointer;
            }

            .dropdown-menu {
                display: none;
                position: absolute;
                top: 50px;
                right: 0;
                background-color: white;
                color: black;
                border-radius: 4px;
                overflow: hidden;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                z-index: 10;
                width: 200px; // 드롭다운 메뉴의 너비
                padding: 1rem; // 드롭다운 메뉴의 패딩

                .button {
                    width: 100%;
                    padding: 1rem; // 각 항목의 패딩
                    text-align: left;
                    background-color: white;
                    color: black;
                    border: none;
                    cursor: pointer;
                    font-size: 1rem; // 각 항목의 폰트 크기

                    &:hover {
                        background-color: #f0f0f0; // 항목 호버 시 배경색
                    }
                }
            }

            &:hover .dropdown-menu {
                display: block;
            }
        }
    }
}
